# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
.idea
.pytest_cache
notebooks/.ipynb_checkpoints
notebooks/ml/.ipynb_checkpoints
notebooks/_backup
tests/.pytest_cache

# Other Files
*.coverage
*.ipynb
data/*.csv
data/*.png
data/*.dot
data/*.html